*{
    margin 0;
    padding 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}
body{
    background:gray;
}

.center{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{
    background: black;
    padding: 12px 0;
}
/* menu 1 - header */

.header-left{
    float: left;
}

.header-left img{
    max-width: 120px;
}
.menu-header{
    display: inline-block;
    margin-left: 30px;
}
.menu-header li{
    font-size: 14px;
    position: relative;
    top: -20px;
    display: inline-block;
    margin-right: 15px;
}
.menu-header a{
    color: white;
    text-decoration: none;
}
/* menu right*/
.header-right{
    margin-right: 50px;
    margin-top: 35px;
    float: right;
}
.search, .notifications{
    display: inline-block;
}
.notifications{
    position: relative;
}

.circle-notifications{
    position: absolute;
    right:0;
    top:-10px;
    width:20px;
    height:20px;
    border-radius: 10px;
    background: #e50914;
    text-align: center;
    vertical-align: 20px;
}
.circle-notifications span{
    font-size: 12px;
    color: white;
}
.header-right i{
    margin:0 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
   font-weight: bold;
}

.header-right a{
    color: white;
    text-decoration: none;
}

/*Destaque*/

section.destaque{
    background-image: url('../banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px;
    position: absolute;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}